@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
}

p, span{
    font-family: 'Outfit', sans-serif;
}

.container{
    margin: auto;
    padding: 50px;
}

.card{
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(217, 54%, 11%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 580px;
}

.cardImage{
    margin: 25px;
    margin-bottom: 0;
    width: 300px;
    position: relative;
}

.cardImage > img{
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 300px;
    display: block;
}

.card > .cardImage > .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: hsl(178, 100%, 50%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 15px;
}

.cardImage:hover > .overlay{
    opacity: 0.6;
    cursor: pointer;
}

.cardImage >.overlay > svg{
    display: none;
}

.cardImage:hover > .overlay > svg{
    display: block;
    margin-left: 128px;
    margin-right: 151px;
    margin-top: 122px;
    margin-bottom: 152px;
    opacity: 1;
}

.cardContent{
    margin: auto;
    margin-top: 0;
    width: 295px;
}

.cardContent > p:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.cardContent > p:nth-child(1):hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.cardContent > p:nth-child(2){
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.cardContent > hr{
    color: hsl(215, 32%, 27%);
    background-color: hsl(215, 32%, 27%);
    border: 1px solid hsl(215, 32%, 27%);
}

.contentInfo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.contentInfo > span{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.contentInfo > span:nth-child(1){
    color: hsl(178, 100%, 50%);
}

.contentInfo > span:nth-child(2){
    color: hsl(215, 51%, 70%);
}

.contentFooter{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.contentFooter > img{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 25px;
}

.contentFooter > p{
    color: hsl(215, 51%, 70%);
}

.contentFooter > p > span{
    color: white;
}

.contentFooter > p > span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

/* small desktop and tablet ok */

@media only screen and (max-width:426px){
    .container{
        padding: 30px;
        margin-top: 50px;
    }
}

@media only screen and (max-width:376px){
    .container{
        padding: 0px;
        margin-top: 70px;
    }
}
